body{
  /* background-image: url("../public/hero.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 100%; */
  background-color: #FEBD2F;
  /* background-color: #ffae00; */
  z-index: 0;
}


.body{
  /* background:linear-gradient(to right,#FEBD2F,#FFF1CE); */
  background-image: url("../public/finlagr1.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  
  background-color: #FEBD2F;
  height: fit-content;
  width: fit-content;
  height: 100%;
  width: 100%;
  font-family: 'Philosopher', sans-serif;
  z-index: 0;
}

/* another image if can be inverted we will use */
/* .another{
  background-image: url("../public/fact.svg");
  background-repeat: no-repeat;
  background-size: 20%;
  
} */


.header{
 
  text-align: center;
  font-size:larger;
  margin-left: 7%;
  margin-right: 7%;
  position:relative;
  
}

.logo-holder{
  display: none;
  justify-content: center;
  z-index: 0;
}
.logo-holder img{
  margin: 1% 1% 0% 1%;
  width: 8%;
  box-shadow: 3px 3px 8px black;
}

/* .cust{
  height: 80vh;
} */


/* 
.container-rot{
  background-color: #FFF1CE;
  color: #FEBD2F;
  /* padding-bottom: 110px; */
  /* border-radius: 10px;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 10%;
} */ 

/* .expanded-card {
  display: none;
  transition: ease-in-out;
}

.expanded-card.visible {
  display: block;
  transition: ease-in-out;
} */


.base{
  /* display: flex; */
  justify-content: baseline;
  width: 80%;
  margin-left: 10%;
  font-weight: 400;
  color: #404040;
  margin-bottom: 0px;
}


section p{
  padding: 0;
  margin: 0.2%;
}

.bold{
  font-size: 300%;
  font-weight:bold;
}

.real{
  border: 5px solid #e54c44;
}
.not{
  border: 3px solid gray;
  border-radius: 8px;
  margin: 10px;
}

/* speaker */
.sp{
  margin-top: 3%;
  padding-top: 3%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #fffdb4;
  opacity: 0.85;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 30px;
  position: relative;
}

/* .red:hover .robot{
  opacity: 0.9;
  z-index: 2;
  bottom: 0px;
} */

.card2{
  transition: 1s;
}

.big{
  width: 80%;
  margin-left: 10%;
  z-index: 0;
  
}

.card2:hover{
  transform:scale(1.1) ;
  /* .robot{
    opacity: 0.7;
    z-index: 2;
    bottom: 0px;
    width: 670px;
  } */
}

.text{
  transition: 1s;
  font-size:150%;
}

.robot p{
  color: #e54c44;
  padding-top: 12%;
}

/* .robot{
  opacity: 0;
  padding-top: 0;
  height: inherit;
  width: 300px;
  position: absolute;
  bottom: -500px; 
  /* background-color: #FEBD2F; */
  /* background-color: #FFF1CE;
  border-radius: 16px;
  transition: 0.7s;
} */ 

.foot1{
  /* margin-top: 30px; */
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
}

.foot1 button{
  height: 50px;
  width: 160px;
  font-size: 130%;
  border-radius: 8px;
  transition: 0.4s;
  background-color:#e54c44;
  border:0px;
  color: white;
}

button:hover{
  transition: scale(1.2);
}


.last{
  background-color: rgb(255, 174, 0);
  padding-top: 1%;
  margin-bottom: -22px;
  margin-top: 3%;
}

/* 
.color{
  background-image: url("../public/hero.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 100%;
} */


.soon{
  padding-top: 10%;
  padding-bottom: 10%;

  display: flex;
  font-size: 400%;
  justify-content: space-around;

}

.contacts{
  padding-top: 1%;
  padding-bottom: 1%;
  height:40vh;
}


.contacts ul{
  list-style-type: none;
}

.dark{
  font-weight: 700;
}

.foot2{
  display:flex;
  justify-content: space-between;
}
.ico{
  padding-top: 1%;
  justify-content: end;
}


@media (max-width: 1500px) {
  /* Your responsive styles go here */
  .body{
    background-size: cover;
  }
  
}
@media (max-width: 1300px) {
  /* Your responsive styles go here */
  .body{
    background-size: cover;
  }
  
  
}
@media (max-width: 1100px) {
  /* Your responsive styles go here */
  /* .page{
    width: max-content; 
  } */
  
  
}
@media (max-width: 1000px) {
  /* Your responsive styles go here */
  .body{
    background-image: none;
  }
  
}
@media (max-width: 508px) {
  /* Your responsive styles go here */
  
  .foot2{
    justify-content: center;
    flex-direction: column-reverse;
  }
  .ico{
    padding-bottom: 5%;
    justify-content: center;
  }

}


/* git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/AshishDochania/MAT_RS.git
git push -u origin main */